<mat-toolbar>
    <mat-toolbar-row class="secondToolbar adminSubToolbar" style="background-color: white; display: flex;justify-content: space-between;">
        <h1 style="color:black">Product List</h1>
        <span class=""></span>
        <span>
        </span>
        <span>
            <button (click)="add()" mat-raised-button color="primary" class="button">Add Product</button>
        </span>
    </mat-toolbar-row>
</mat-toolbar>
<div class="container">

    <div class="flex-container flex-spacearound flex-wrap">
      <div class="card" *ngFor="let product of productList">
        <h1 class="rel-h1" matTooltip="{{product.name}}" >
          <!-- {{product.name}} -->
          {{ (product.name.length>15)? (product.name | slice:0:14)+'...':(product.name) }}
       
          <div class="menu-container"> 
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu" class="">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="edit(product)" >
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item (click)="delete(product)">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </div>
        </h1>
        <p class="price">${{product.price}}</p>
        <p class="p-10 " style="color: #00000099;">
          {{ (product.description.length>90)? (product.description | slice:0:90)+'...':(product.description) }}
        </p>
        <p class="m-0">
          <button class="btn">{{product.status ? product.status : 'Coming Soon'}}</button>
        </p>
      </div>
    </div>

    <div>
        
    </div>
</div>